.imagem {
    width: auto;
    height: 250px;
}

body {
    background-color: cornsilk ;
    max-width: 600px;
    text-align: justify;
}

.mini-box {
    border: 5px solid black;
    margin: 10px;
    max-width: 450px;
    padding: 5px;
}

div > h3 {
    margin: 10px;
}

div li {
    margin: 10px;
}