body {
    background-color: cornsilk ;
}
.head {
    text-transform: uppercase;
    background-color: blanchedalmond;
    text-align: center;
    margin: 20px;
    width: 395px;
    height: auto;
    border: 5px solid black;
    margin: auto;
    padding: 5px;
    
}

header {
    margin: 20px;
}

main {
    background-color:bisque ;
    width: 300px;
    height: 450px;
    border: 5px solid black;
    margin: auto;
    padding: 50px;
}

main img {
    display: block;
    margin: auto;
    width: 300px;
    
}

ul {
    background-color: blanchedalmond;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: auto;
    height: 100px;
    border:dotted black 3px;
    padding: 15px 30px;  
    margin-top: 30px;
    
}

li > a {
    text-decoration: none;
    color: black;    
}

li > a:hover {
    text-decoration: underline;
    background-color: bisque;
}